{block content}
    <form action="/login" method="post" id="frm-loginForm" style="width: 300px">
        <input type="text" name="username" id="frm-loginForm-username" class="form-control" placeholder="Username">
        <input type="password" name="password" id="frm-loginForm-password" class="form-control" placeholder="Password">
        <input type="hidden" name="login-form-sent">
        <input type="submit" name="login_form" class="btn btn-primary">
    </form>
{/block}
