parameters:

    github_token: ghp_***
    github_company: repo-company
    github_repository: repo_name

    buddy_deploy_token: 482ea***

database:
    dsn: 'mysql:host=database.jandolejs.cz;dbname=release'
    user: ***
    password: ***
