parameters:

    jira_prefix: GF
    jira_company_name: goodform

    github_token: *****
    github_company: goodform-aiti
    github_repository: goodform

    google_client_id: 11111111111-1a2b3c.apps.googleusercontent.com
    google_secret_key: Abcdefg123

    buddy_deploy_token: 482ea13e

database:
    dsn: 'mysql:host=10.0.0.145;dbname=release'
    user: release
    password: rybnice
